language: python
python:
  - 2.7
  - 3.4
  - 3.5
addons:
  postgresql: "9.3"
install:
  - pip install -U pip
  - pip install -i https://pypi.pacificclimate.org/simple/ -r requirements.txt -r test_requirements.txt
  - pip install -i https://pypi.pacificclimate.org/simple/ .
script: py.test -v --tb=short tests
